// Font Family
@baseTitleFontFamily:          "Comic Sans MS", Comic Sans MS, Arial, sans-serif;
@baseContentFontFamily:        Comic Sans MS;
 
// Font Size
@baseFontSize:                 12px;
@fontSizeLarge:                floor(@baseFontSize * 1.17); // 14px
@fontSizeMedium:               ceil(@baseFontSize * 0.85); // 10px
@fontSizeSmall:                floor(@baseFontSize * 0.9); // 11px
 
// Line Height
@baseLineHeight:               12px;

// Component Height
@baseHeight:                   8px;
@baseIconHeight:               @baseHeight * 2; // 16px
@baseButtonHeight:             @baseHeight * 3; // 24px
@baseBarHeight:                @baseHeight * 4; // 32px
@baseTitleHeight:              @baseHeight * 5; // 40px
 
// Component Width
@baseWidth:                    8px;
@baseIconWidth:                @baseWidth * 2; // 16px
@baseButtonWidth:              @baseWidth * 3; // 24px
@baseBarWidth:                 @baseWidth * 4; // 32px
 
// Border Radius
@baseBorderRadius:             4px;
@borderRadiusLarge:            6px;
@borderRadiusSmall:            3px;

// Text color
@baseTextColor:                #000000;
@textColorGray:                #555555;
@textColorGrayDark:            #363636;
@textColorGrayLight:           #636363;
 
// Border color
@baseBorderColor:              #CFCFCF;
@headerBorderColor:            #9C9C9C;
 
// Background color
@baseBackgroundColor:          #FFFFFF;
@headerBackgroundColor:        @baseBackgroundColor;
 
// Gradient background
@baseGradientStart:            #FEFEFE;
@baseGradientEnd:              #EEEEEE;


// Icon Font
@iconColor:                    #636363;
@iconHoverColor:               #636363;
@iconDisabledColor:            #AAAAAA;
// Active
@activeColor:                  @baseTextColor;
@activeBorderColor:            #499EB3;
@activeBackgroundColor:        #86E2F9;
 
// Focus
@focusColor:                   @baseTextColor;
@focusBorderColor:             #00B9FF;
@focusBackgroundColor:         @baseGradientEnd;
 
// Hover
@hoverColor:                   @textColorGrayLight;
@hoverBorderColor:             #8FB9D0;
@hoverBackgroundColor:         #D6F0FD;
 
// Disabled
@disabledColor:                #AAAAAA;
@disabledBackgroundColor:      #F0F0F0;
 
// Invalid
@invalidBorderColor:           #DD7777;
 
// Read-only
@readonlyBorderColor:          #E6E6E6;
@readonlyBackgroundColor:      #FAFAFA;
 
// Selected
@selectedColor:                @textColorGrayLight;
@selectedBorderColor:          @baseBorderColor;
@selectedBackgroundColor:      #BEE7FC;
 
// Selected Hover
@selectedHoverColor:           @textColorGrayLight;
@selectedHoverBorderColor:     @baseBorderColor;
@selectedHoverBackgroundColor: #C5E7F8;
 
// Checked
@checkedColor:                 #2184BA;
@checkedBorderColor:           #8E8F8F;
@checkedBackgroundColor:       #F8F8F8;
 
// Collapsed
@collapsedBorderColor:         @baseBorderColor;
@collapsedBackgroundColor:     #FCFCFC;

// Button
@buttonBorderColor:            #A9A9A9;
@buttonGradientStart:          #FEFEFE;
@buttonGradientEnd:            #EEEEEE;
// Input
@inputBorderColor:             @baseBorderColor;
@inputBackgroundColor:         @baseBackgroundColor;
// Table
@meshTitleBorderColor:         @baseBorderColor;
@meshContentBorderColor:       #FFFFFF;
@meshBackgroundColor:          #FFFFFF;
@meshStripeBackgroundColor:    #F7F7F7;
@meshFootBackgroundColor:      #FAFAFA;
@meshTitleHoverStart:          #F2F9FE;
@meshTitleHoverEnd:            #D6F0FD;
@meshContentHoverStart:        #F2F9FE;
@meshContentHoverEnd:          #D6F0FD;
// window
@windowBorderColor:            #9C9C9C;
@windowBackgroundColor:        #D9E5EF;
@windowFramePadding:           4px;
 
// tabbox
@tabSelectedBackgroundColor:   #FFFFFF;
 
// panel
@panelBorderColor:             #9C9C9C;
@panelBackgroundColor:         #E1EDF4;
@panelBodyBackground:          #F0F6F9;


// group (group, listgroup)
@groupGradientStart:           #FFFFFF;
@groupGradientEnd:             #E9F2FB;
 
// paging
@pagingColor:                  @textColorBlue;
@pagingSelectedColor:          @textColorGrayDark;
@pagingBorderColor:            @baseBorderColor;
@pagingActiveBorderColor:      #A9A9A9;
@pagingBackgroundColor:        #FAFAFA;
@pagingSelectedBackgroundColor:#E6E6E6;
 
// biglistbox
@biglistboxBackgroundColor:    #F0F0F0;
@biglistboxFrozenBackground:   #E0E0E0;
 
// mesh for ie8
@meshBackgroundColorIE8:              #F5F5F5;
@meshHoverBackgroundColorIE8:         #E5F7FF;
@meshSelectedBackgroundColorIE8:      #E5F7FF;
@meshSelectedHoverBackgroundColorIE8: #D9F2FF;
@meshGroupBackgroundColorIE8:         #EDF6FF;
@meshGroupFooterBackgroundColorIE8:   #F2F9FF;

// popup
@popupBorderColor:             @baseBorderColor;
@popupBackgroundColor:         @baseBackgroundColor;
@popupGradientStart:           @baseBackgroundColor;
@popupGradientEnd:             #F5F5F5;
 
// notification
@notificationInfoColor:        rgba(33, 155, 166, 0.88);
@notificationWarningColor:     rgba(234, 67, 23, 0.88);
@notificationErrorColor:       rgba(190, 0, 5, 0.88);
@notificationArrowColor:       rgba(51, 51, 51, 0.9);
@notificationInfoColorIE8:     rgb(33, 155, 166);
@notificationWarningColorIE8:  rgb(234, 67, 23);
@notificationErrorColorIE8:    rgb(190, 0, 5);
@notificationArrowColorIE8:    rgb(51, 51, 51);
 
// menu
@menuImageSize:                16px;
@menuActiveBorderColorTR:      #838383;
@menuActiveBorderColorBL:      #B6B6B6;
@menuPopupBackground:          #FAFAFA;
@menuSeparatorBorderColor:     #838383;
@menuSeparatorBackgroundColor: #B8B8B8;
@menuPopupSeparatorBorder:     #FFFFFF;
@menuPopupSeparatorBackground: #E0E0E0;
 
// navbar
@navImageSize:                 16px;
@navColor:                     #333333;
@navBorderColor:               #F4F4F3;
@navBackgroundColor:           #FFFFFF; //first level, each level is 3% darker (darken(@navBackgroundColor, 3 * level));
@navHoverBackgroundColor:      #E8E8E8;
@navSelectedColor:             #FFFFFF;
@navSelectedBackgroundColor:   #372F2B;
@navSeparatorColor:            #838383;
@navCollapsedWidth:            32px;
// calendar
@calendarTitleColor:           @textColorGrayLight;
@calendarTitleHoverColor:      @textColorGrayLight;
@calendarCellColor:            @textColorGrayLight;
@calendarSelectedColor:        #008BB6;
@calendarSelectedHoverColor:   #008BB6;
@weekendColor:                 @textColorOrange;
@weekendBackgroundColor:       #F2F2F2;
@weekColor:                    @textColorGrayLight;
@weekofyearColor:              #FFFFFF;
@weekofyearBackgroundColor:    #636363;
 
// slider
@sliderBorderColor:            @baseBorderColor;
@sliderActiveBorderColor:      #838383;
 
// errorbox (input constraint)
@errorboxColor:                #990000;
@errorboxBorderColor:          #990000;
@errorboxBackgroundColor:      #FFEEEE;
 
// progressmeter
@progressmeterGradientStart:   #E8F6FD;
@progressmeterGradientEnd:     #C6E9FA;
 
// colorbox
@colorboxBorderColor:          #9C9C9C;
 
// chosenbox
@chosenboxItemBorderColor:     #B3B3B3;
@chosenboxCreateIconColor:     @textColorGreen;

// splitter (hbox, vbox, borderlayout)
@splitterSize:                 8px;
@splitterGradientStart:        #FDFDFD;
@splitterGradientEnd:          #F1F1F1;

// mask and loading
@maskBackgroundColor:          #E0E1E3;
@loadingBackgroundColor:       #E3E3E3;
 
// scrollbar
@scrollbarWidth:               16px;
@scrollbarHeight:              16px;
@scrollbarBorderColor:         #838383;
@scrollbarBackgroundColor:     #DDDDDD;
@scrollbarGradientStart:       #FFFFFF;
@scrollbarGradientEnd:         #CFCFCF;
 
// drag and drop
@dragColor:                    #FFFFFF;
@dragBackgroundColor:          #E0EAF0;
@dragHoverBackgroundColor:     #ADD2FF;
@dragAllowBorderColor:         #11AA33;
@dragAllowBackgroundColor:     #11AA33;
@dragDisAllowBorderColor:      #C13634;
@dragDisAllowBackgroundColor:  #C13634;


<%-- *.css.dsp file --%>
<%@ taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c" %>



			/*------------------------*/
			/*Override all CSS classes*/
			/*------------------------*/
			
			.z-combobox {
			    background: none;
			}
			.z-combobox-readonly {
			    border-color: #000000;
			}
			.z-combobox-focus .z-combobox-readonly {
			    border: 1px solid #000000;
			    padding-right: 0px;
			}
			
			/*---------------------------------*/
			/* Override CSS class of input box */
			/*---------------------------------*/
			
			.z-combobox-inp {
			    height: 23px;
			    width: 160px;
			    padding: 0px 0px 0px 6px;
			    font-family: Times New Roman, Times, serif;
			    font-size: 14px;
			    color: DarkBlue;
			    border: 1px solid #b7b7b7;
			    border-radius: 3px;
			    -webkit-border-radius: 3px;
			    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
				text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
			}
			.z-combobox-inp,
			.z-combobox-focus .z-combobox-readonly 
			{
			    background: linear-gradient(top,  #3f3f3f 0%,#131313 60%,#000000 100%); /* W3C */
			}
			.z-combobox-focus .z-combobox-inp 
			{
			    border: 1px solid rgba(0,142,198,1);
				margin: 0;
			}
			
			/*---------------------------------*/
			/* Override CSS class of button    */
			/*---------------------------------*/
			
			.z-combobox .z-combobox-btn 
			{
			    height: 24px;
			    width: 24px;
			    padding: 0px 0px 0px 0px;
			    
			    border: 1px solid #b7b7b7;
			    border-left: 0;
			    border-radius: 3px;
			    box-shadow: inset 1px 1px 0 #FFFFFF, inset -1px -1px 0 #0F0F0F;
			}
			.z-combobox .z-combobox-btn-over 
			{
			    margin: 0;
			}
			.z-combobox-focus .z-combobox-btn,
			.z-combobox-readonly ~ .z-combobox-btn 
			{
			    border-left: 0px;
			}
			.z-combobox .z-combobox-btn,
			.z-combobox .z-combobox-btn-over,
			.z-combobox-focus .z-combobox-btn-clk, .z-combobox .z-combobox-btn-clk,
			.z-combobox-focus .z-combobox-btn,
			.z-combobox-readonly ~ .z-combobox-btn
			.z-combobox-focus .z-combobox-btn-over,
			.z-combobox-readonly ~ .z-combobox-btn-over 
			{
				background: url('images/StampaFrecciaCombo.png') no-repeat 0px 0px, white;   
			    background: url('images/StampaFrecciaCombo.png') no-repeat 0px 0px, -webkit-linear-gradient(top, white, white, white); 	/* Chrome10+,Safari5.1+ */
			    background: url('images/StampaFrecciaCombo.png') no-repeat 0px 0px, -o-linear-gradient(top, white, white, white); 		/* Opera 11.1+ */
			    background: url('images/StampaFrecciaCombo.png') no-repeat 0px 0px, -moz-linear-gradient(top, white, white, white); 	/* FF3.6+ */
			    background: url('images/StampaFrecciaCombo.png') no-repeat 0px 0px, linear-gradient(top, white, white, white); 			/* W3C */
			
			}
			
			/*----------------------------------------*/
			/* Override CSS class of  drop-down list  */
			/*----------------------------------------*/
			.z-combobox-pp 
			{
			    border: 1px solid #b7b7b7;
			    background-color: rgba(255,255,255,1);
			}
			.z-combobox-pp .z-comboitem,
			.z-combobox-pp .z-comboitem a,
			.z-combobox-pp .z-comboitem a:visited 
			{
			    color: DarkBlue;
			    background-color: rgba(255,255,255,1);
			}
			.z-comboitem .z-comboitem-text 
			{
			    border: 1px solid #FFFFFF;	/* colore separatore item */
			    padding: 4px 0;
			}
			.z-combobox-pp .z-comboitem-over,
			.z-combobox-pp .z-comboitem-seld 
			{
			    color: #FFFFFF;						/* colore testo quando selezionato  */
			    background-color: DodgerBlue ;		/* colore sfondo quando selezionato */
			}